
/*设计图width*/
$screenwidth:375;

/*rem 份数*/
$remSize:18.75;

/* 375/18.75 =20px=1rem */

/*html rem比例*/
//$rem:($screenwidth/$remSize);

$rem:20;



$font-family:"Helvetica Neue",
Helvetica,
sans-serif !default;

$font-size:.7rem !default;
$line-height: 1.5;
$body-bg:#f8f8f8;
$color-white: #fff;
$color-df: #333;
$color-icon: #777;

$text-primary: darken(#428bca, 6.5%) !default; // #337ab7
$text-success: #5cb85c !default;
$text-info: #5bc0de !default;
$text-warning: #f0ad4e !default;
$text-danger: #d9534f !default;
$text-placeholder: rgb(204,204,204);
$bg-white: #fff;
$bg-df: #f2f2f2;
$bg-input: #eeecec;

$line: #f2f2f2;
$line-blod: #ddd;




