
@import "./var.scss";

html{
	font-size: 5.333333333333333vw;
}

@media screen and (max-width: 319px) {
	
    html {
        font-size: 320px/$remSize;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 40px;
    }
}


